/* static/css/style.css */
#map {
    border: 2px solid #ccc;
    border-radius: 8px;
}

.leaflet-popup-content {
    font-size: 14px;
    line-height: 1.5;
}

.heart-icon span {
    color: #333;
    /* Heart outline color */
    cursor: pointer;
}

.star-icon span {
    color: gold;
    /* Star color */
}